* {
  box-sizing: border-box;
}
body {
  background-color: #621402;
  font-family: 'Roboto', sans-serif;
  color: white;
}

.header {
  padding-bottom: 60px;
  background: linear-gradient(180deg, rgba(98, 20, 2, 0.31) 0%, #621402 85.62%),
    url(../images/bg.jpg) no-repeat center top / cover;
}
.navbar {
  display: flex;
  align-items: center;
  padding: 30px 0;
}

.container {
  max-width: 1170px;
  margin: auto;
  width: 90%;
}

.nav {
  position: relative;
}

.menu {
  display: flex;
  list-style: none;
  margin: 0 0 0 27px;
}

.m-menu {
  display: none;
}
.menu-item {
  margin-right: 25px;
  margin-bottom: 10px;
}
.menu-item:last-child {
  margin-bottom: 0;
}

.menu-link {
  text-decoration: none;
  color: white;
  transition: opacity 0.5s ease;
}
.menu-link:hover {
  opacity: 0.5;
}

.user {
  display: flex;
  align-items: center;
  margin-left: auto;
  cursor: pointer;
}

.avatar {
  width: 33px;
  height: 33px;
  border-radius: 50%;
  margin-left: 11px;
}

.film {
  display: flex;
  align-items: center;
  margin-top: 60px;
}

.film-title-small {
  font-size: 24px;
  line-height: 150%;
  opacity: 0.5;
}

.film-title {
  margin: 11px 0 23px;
  font-size: 36px;
  line-height: 42px;
}

.film-description {
  max-width: 560px;
  font-size: 16px;
  line-height: 150%;
}

.film-trailer {
  margin: auto;
}

.film-details {
  margin: 50px 0 62px;
  display: flex;
  align-items: center;
}

.time {
  display: flex;
  align-items: center;
}
.time-icon {
  margin-right: 14px;
}
.rating {
  display: flex;
  align-items: center;
  margin-left: 35px;
}
.rating-counter {
  font-size: 24px;
  line-height: 150%;
}
.rating-icon {
  margin-right: 14px;
}

.session {
  padding: 46px 0 63px;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.session-label {
  display: block;
  margin-bottom: 20px;
}

.session {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.session-date-block {
  display: flex;
}
.session-date-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-right: 15px;
  width: 90px;
  height: 90px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.5s ease;
}
.session-date-item:hover {
  background-color: #fe8e05;
  color: #621402;
}

.session-mount {
  font-size: 16px;
  line-height: 19px;
}
.session-day {
  font-weight: 900;
  font-size: 30px;
  line-height: 35px;
}

.session-week {
  font-size: 19px;
  line-height: 22px;
}

.select {
  background-color: rgba(255, 255, 255, 0.15);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 5px;
  padding: 18px;
  cursor: pointer;
  margin-top: 15px;
}

.select-cinema {
  width: 470px;
}

.scheme {
  background: rgba(36, 36, 36, 0.18);
  border-radius: 10px;
}

.scheme-svg {
  max-width: 1170px;
}

.scheme path:not(.light) {
  fill: rgba(255, 255, 255, 0.2);
  cursor: pointer;
}
.scheme path:not(.light):hover {
  fill: rgba(255, 255, 255, 0.5);
}

.scheme path.booked,
.scheme path.booked:hover {
  fill: rgba(255, 255, 255, 0.05);
  cursor: not-allowed;
}
.scheme path.active,
.scheme path.active:hover {
  fill: #fe8e05;
}

.legend {
  display: flex;
  align-items: center;
  max-width: 1024px;
  width: 90%;
  margin: auto;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  padding-top: 22px;
  padding-bottom: 38px;
}
.legend svg {
  margin-right: 15px;
}

.legend-label {
  display: flex;
  align-items: center;
  margin-right: 30px;
  color: rgba(255, 255, 255, 0.5);
}

.price {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0 40px;
}
.price-label {
  display: block;
  font-size: 18px;
  line-height: 21px;
}

.price-tag {
  font-size: 52px;
  line-height: 61px;
}

.button {
  display: block;
  background: #fe8e05;
  border-radius: 5px;
  color: white;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  text-decoration: none;
  padding: 24px 52px;
}

@media (max-width: 1200px) {
  .container {
    max-width: 960px;
  }
  .select-cinema {
    width: 100%;
  }
}
@media (max-width: 992px) {
  .container {
    max-width: 750px;
  }
  .session {
    flex-wrap: wrap;
  }
  .session-data {
    flex-basis: 70%;
    margin-bottom: 40px;
  }
  .session-time {
    order: 2;
  }
  .session-cinema {
    order: 3;
  }
  .menu-item {
    margin-right: 20px;
  }
}
@media (max-width: 768px) {
  .container {
    max-width: 560px;
  }
  .menu {
    position: absolute;
    left: 0;
    top: 40px;
    padding: 20px;
    margin-left: 20px;
    flex-direction: column;
    background-color: #621402;
    z-index: 9;
    border-radius: 10px;
    opacity: 0;
    visibility: hidden;
    transform: translateY(20%);
    transition: opacity 0.5s, transform 0.5s;
  }
  .menu-item:not(:last-child) {
    margin-bottom: 10px;
  }
  .m-menu {
    display: block;
    background-color: transparent;
    border: none;
    width: 40px;
    height: 40px;
    margin-left: 10px;
    cursor: pointer;
  }
  .is-open {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }
  .film-description {
    margin-right: 30px;
  }
  .film {
    flex-direction: column;
  }
  .film-trailer {
    margin: 40px auto 0;
  }
}
@media (max-width: 490px) {
  .legend {
    flex-direction: column;
    align-items: flex-start;
  }
  .legend-label {
    margin-bottom: 15px;
  }
  .session-date-item {
    width: 55px;
  }
  .button {
    padding: 13px 12px;
    text-align: center;
  }
}
