* {
  box-sizing: border-box;
}
body {
  background-color: #621402;
  font-family: 'Roboto', sans-serif;
  color: white;
}

.header {
  min-height: 100vh;
  background: linear-gradient(180deg, rgba(98, 20, 2, 0.31) 0%, #621402 85.62%),
    url(../images/bg.jpg) no-repeat center top / cover;
}
.navbar {
  display: flex;
  align-items: center;
  padding: 30px 0;
}

.container {
  max-width: 1170px;
  margin: auto;
}

.menu {
  display: flex;
  list-style: none;
  margin: 0 0 0 27px;
}

.menu-item {
  margin-right: 25px;
}

.menu-link {
  text-decoration: none;
  color: white;
}

.user {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.avatar {
  width: 33px;
  height: 33px;
  border-radius: 50%;
  margin-left: 11px;
}

.film {
  display: flex;
  align-items: center;
  margin-top: 60px;
}

.film-title-small {
  font-size: 24px;
  line-height: 150%;
  opacity: 0.5;
}

.film-title {
  margin: 11px 0 23px;
  font-size: 36px;
  line-height: 42px;
}

.film-description {
  max-width: 560px;
  font-size: 16px;
  line-height: 150%;
}

.film-trailer {
  margin: auto;
}

.film-details {
  margin: 50px 0 62px;
  display: flex;
  align-items: center;
}

.time {
  display: flex;
  align-items: center;
}
.time-icon {
  margin-right: 14px;
}
.rating {
  display: flex;
  align-items: center;
  margin-left: 35px;
}
.rating-counter {
  font-size: 24px;
  line-height: 150%;
}
.rating-icon {
  margin-right: 14px;
}

.session {
  padding: 46px 0 63px;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.session-label {
  display: block;
  margin-bottom: 20px;
}

.session {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.session-date-block {
  display: flex;
}
.session-date-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-right: 15px;
  width: 90px;
  height: 90px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.5s ease;
}
.session-date-item:hover {
  background-color: #fe8e05;
  color: #621402;
}

.session-mount {
  font-size: 16px;
  line-height: 19px;
}
.session-day {
  font-weight: 900;
  font-size: 30px;
  line-height: 35px;
}

.session-week {
  font-size: 19px;
  line-height: 22px;
}

.select {
  background-color: rgba(255, 255, 255, 0.15);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 5px;
  padding: 18px;
  cursor: pointer;
  margin-top: 15px;
}

.select-cinema {
  min-width: 470px;
}
